@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #F4F4F4;
  }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #212121;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/PTSans-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro-Regular.otf') format('opentype'),
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: #F4F4F4;
}

/* headers */

h1 {                  /*header for page*/ 
  font-family:    "Roboto";
  font-size:      250%;
  color: #212121;
}

h2 {                   /*header for tabs*/ 
  display:             inline-block;
  top:                 0.2rem; 
  margin:              auto;
  font-family:         "Source Sans Pro";
  font-size:           large;
}

h3 {                   /*header for cards*/ 
  font-family:         "Source Sans Pro"; 
  font-size:           x-large; 
  color:             #212121;
}

h4 {                   /*name in sidenav*/ 
  font-family:         "Roboto"; 
  font-size:           x-large;
  font-weight:         bold;
  color:             #212121;
}

h5 {
  font-family:         "Roboto"; 
  font-size:           small;
  color:             #212121;
}

p {
  font-family:         "PT Sans"; 
  font-size:           medium;
  color:white;
}

.font-roboto {
  font-family:    "Roboto";
}

.font-source-sans-pro {
  font-family:    "Source Sans Pro";
}

.font-ptsans {
  font-family:    "PT Sans";
}
/* dashboard*/

.nav-links {
  color:              #212121;
  font-size:            medium;
  background-color:   #FFFFFF; 
  display:              flex;
  height:               3rem;
  flex-grow:            1;
  align-items:          center;
  justify-content:      center;
  gap:                  0.2rem;
  border-radius:        1rem;
  background-color:     #F9FAFB; 
  transition:           background-color 0.2s ease-in-out, color 0.2s ease-in-out; 
  font-family:          "Source Sans Pro";
  

  &:hover {
    background-color: #E6E6FA; 
    color: #212121; 
  }


  @media (min-width: 768px) { 
    flex-grow: initial;
    justify-content: flex-start;
    padding: 2px 3px;
  }
}

.icon{
  padding-left: 0.5rem;
}

.nav-link-active {
  color: #FFFFFF; 
  background-color: #6F42C1; 
}

.dropdown {
  z-index: 1; /* Or a higher number if necessary | this puts dropdown in the front */
  font-family:          "PT Sans";
}

/* company settings */

.customborder-active {
  width: fit-content;
  height: 100%; 
  position: relative;
  background-color: white;
  border-width: 0.1rem;
  border-color: white;
  border-radius:  1rem 1rem 0 0;  
  color: #6F42C1;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 1;
}

.customborder-link {
  width: fit-content;
  height: 100%; 
  position: relative;
  background-color: #F4F4F4;
  border-width: 0.1rem;
  border-color: #D9D9D9;
  border-bottom: 0;
  border-radius:  1rem 1rem 0 0;  
  color: #212121;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.customborder-body {
  width:              100%;
  height:             100%; 
  position:           relative;
  background-color: white;
  border-color:     white;
  border-radius:      0 1rem 1rem 1rem; 
}

.table{ 
  border-width:       0.2rem;
  border-color:     #D9D9D9;
  border-radius:      0.5rem;
  height:             100%;
  width:              100%;
  position:           flex;
}

th {
  font-size:          large;
  font-weight:        bold;
  background-color: white;
  border-color:     #D9D9D9;
  border-width:       0.05rem;
  border-top:         0.05rem;
  border-bottom:      0.05rem;
  border-left:        0.05rem;
  padding-top:        1rem; 
  padding-bottom:     1rem;
  align-items:        center;
  font-family:        "Source Sans Pro";

}


th:hover button {
  background-color: #E6E6FA; 
  border:           #F4F4F4;
  border-width:       0.5rem;
  border-radius:      0.5rem;
}


td {
  font-size:          small;
  border-color:    #D9D9D9;
  border-width:       0.05rem;
  border-bottom:      0.05rem;
  border-left:        0.05rem;
  text-align:         center;
  font-family:        "PT Sans";
}

.searchbar {
  display: flex; 
  align-items: center; 
  border: 0.2rem solid #d9d9d9; 
  border-radius: 0.5rem; 
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: fit-content;
  font-family:        "PT Sans";
}

.button-content {
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Align content vertically */
  justify-content: center; /* Center content horizontally */
}

.card-header-text {
  text-overflow: ellipsis; /* Indicate truncation with ellipsis (...) */
  white-space: nowrap; /* Prevent wrapping onto multiple lines */
  overflow: hidden; /* Hide overflowing content */
}