@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #F4F4F4;
}

:root {
  --dm-serif-font: var(--dmserif); 
  --roboto-font: var(--roboto);
  --source-sans-pro-font: var(--sourcesans);
  --pt-sans-font: var(--ptsans);
}

.font-dmserif {
  font-family: var(--dm-serif-font);
}

.font-roboto {
  font-family: var(--roboto-font);
}

.font-sourcesans {
  font-family: var(--source-sans-pro-font);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #212121;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: #F4F4F4;
}

/* headers */

h1 {                  /*header for page*/ 
  font-family: var(--roboto-font);
  font-size: 250%;
  color: #212121;
}

h2 {                   /*header for tabs*/ 
  display:             inline-block;
  position:            relative;
  top:                 1px; 
  margin:              auto;
  font:                var(--source-sans-pro-font);
  font-size:           large;
}

h3 {                   /*header for cards*/ 
  font-family:         var(--source-sans-pro-font); 
  font-size:           x-large; 
  color:             #212121;
}

/* dashboard*/

.nav-links {
  color:              #212121;
  font-size:            medium;
  background-color:   #FFFFFF; 
  display:              flex;
  height:               48px;
  flex-grow:            1;
  align-items:          center;
  justify-content:      center;
  gap:                  2px;
  border-radius:        15px;
  background-color:     #F9FAFB; 
  transition:           background-color 0.2s ease-in-out, color 0.2s ease-in-out; 
  font:                 var(--font-source-sans-pro);

  &:hover {
    background-color: #E6E6FA; 
    color: #212121; 
  }


  @media (min-width: 768px) { 
    flex-grow: initial;
    justify-content: flex-start;
    padding: 2px 3px;
  }
}

.nav-link-active {
  color: #FFFFFF; 
  background-color: #6F42C1; 
}

.nav-link-active img{
  fill: #FFFFFF;
}

.dropdown {
  z-index: 1; /* Or a higher number if necessary | this puts dropdown in the front */
}

/* company settings */

.customborder-link {
  width: fit-content;
  height: 100%; 
  position: relative;
  background-color: white;
  overflow: hidden;
  border-color: white;
  border-radius: 6px 6px 0 0;  
}

.customborder-body {
  width:              100%;
  height:             100%; 
  position:           relative;
  background-color: white;
  overflow:           hidden;
  border-color:     white;
  border-radius:      0 6px 6px 6px; 
}

.grid{
  padding:            5px;
  border:           #D9D9D9;
  border-radius:      10px;
  height:             100%;
  width:              100%;
  position:           relative;
  overflow:           hidden;
}

th {
  font:               var(--source-sans-font);
  font-size:          large;
  font-weight:        bold;
  background-color: white;
  border:           #940000;
}


td {
  font:               var(--pt-sans-font);
  font-size:          small;
  border:           #D9D9D9;
}

.icon-cell {
  justify-content:    center;
  align-items:        center;
}